*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}


/* header */

.mi-clase {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding-left: 30px;
}

.mi-clase .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.navbar-brand {
    padding-left: 30%;
}
  

/* main */ 

main h1{
    font-family: "Oswald", sans-serif;
    width: 100%;
}

main h2 {
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}


main h1 , h2 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 5px;
    margin: 5px;   
}

.text-r {
    width: 90%; /* Ancho del contenedor ajustable */
    max-width: 500px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interno */
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    margin: 0 auto;
}

.sub{
    text-align: center;
    text-decoration: underline;
}

.contact {
    color: blue;
    text-decoration: underline;
}

.imag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.img-por{
    width: 35%;
}

.move-img {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    align-items: center; 
}

.move-img img {
    margin: 5px; 
    max-width: 100%; 
}

@media (max-width: 600px) {
    .move-img {
        flex-direction: column; 
        align-items: center;
    }
}


.animacion {
    font-size: 2rem;
    color: #3498db;
    text-align: center;
    animation: moveUpDown 2s infinite;
    margin: 10px 10px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.separar {
    padding: 5px;
    margin: 5px;
    background-color: #fff;
}


/* footer */

footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dimgray;
}

