// variables.scss

// Colores
$color-aqua: aqua;
$color-aquamarine: aquamarine;
$color-white: #ffffff;
$color-gray-light: #dee2e6;
$color-blue: blue;
$color-dimgray: dimgray;
$color-primary: #3498db;

// Fuentes
$font-family-oswald: "Oswald", sans-serif;
$font-family-courier: 'Courier New', Courier, monospace;
$font-family-trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

// Tamaños
$max-width: 500px;
$padding: 20px;
$border-radius: 8px;
$gap: 10px;
$margin-default: 5px;
$padding-default: 5px;
